<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    <h1>User Profiles</h1>
    <table border="1">
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Password</th>
            <th>User ID</th>
        </tr>
        {% for username, user_info in users.items() %}
        <tr>
            <td>{{ username }}</td>
            <td>{{ user_info['name'] }}</td>
            <td>{{ user_info['surname'] }}</td>
            <td>{{ user_info['password'] }}</td>
            <td>{{ user_info['userid'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
